/* Navbar */

#chillbears-icon {
    background-image: url("../images/original-badge.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 4rem;
    width: 4rem;
    margin: 0 auto;
}

.navbar-light .navbar-nav .nav-link,
.orange-link  {
    font-size: 1.2rem;
    color: #000;
}

.navbar-light .navbar-nav .nav-link:hover,
.orange-link:hover  {
    color:rgb(255, 102, 0);
}

.social-icon {
    background-size: contain;
    background-repeat: no-repeat;
    height: 3rem;
    width: 3rem;
    margin: 0 auto;
    display: inline-block;
}

ul.social-icon-list {
    list-style: none;
}

#twitter-icon {
    background-image: url("../images/twitter-icon.png");
}

#twitter-icon:hover {
    background-image: url("../images/twitter-icon-hover.png");
}

#instagram-icon {
    background-image: url("../images/instagram-icon.png");
}

#instagram-icon:hover {
    background-image: url("../images/instagram-icon-hover.png");
}

#discord-icon {
    background-image: url("../images/discord-icon.png");
}

#discord-icon:hover {
    background-image: url("../images/discord-icon-hover.png");
}

#youtube-icon {
    background-image: url("../images/youtube-icon.png");
}

#youtube-icon:hover {
    background-image: url("../images/youtube-icon-hover.png");
}

/* Welcome */


#welcome {
    margin-top: 10vh 0;
}

#revamped-bear {
    background-image: url("../images/revamped-bear.png");
    background-position: right center;
}

/* Headline */

.original-gallery-container {
    position: relative;
}

#original-badge {
    background-image: url("../images/original-badge.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
}

#original-gallery-text {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
}

#original-top::after {
    background-image: url("../images/original-top.png");
}

#original-bottom::after {
    background-image: url("../images/original-bottom.png");
    left: -5rem;
}

.original-gallery {
    height: 22rem;
    position: relative;
}

.original-gallery::after {
    content: "";
    background-repeat: repeat-x;
    background-size: contain;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

/* About */

#takeover-bear {
    background-image: url("../images/takeover-bear.png");
    background-position: left center;
}

/* Roadmap */

.accordion-button {
    color: white;
    background-color: orange;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: orange;
}

.accordion-item {
    border: 0;
}

.fire-icon-list {
    list-style-image: url("../images/fire-icon.gif");
}

.fire-icon-list ul {
    list-style-type: disc;
    list-style-image: none;
}

/* Contact */

#contact-bear {
    background-image: url("../images/contact-bear.png");
    background-position: right center;
}

/* Footer */

#footer-links {
    padding: 0;
    margin: 0;
}

#footer-links li {
    list-style-type: none;
    display: inline;
    padding: 0 .5rem;
    margin: 0;
}

#footer-links li a {

}

#footer-links li a:link {
    text-decoration: none;
}
  
#footer-links li a:visited {
    text-decoration: none;
}

/* General Styles */

.side-bear {
    height: 25rem;
    background-size: contain;
    background-repeat: no-repeat;
}

section {
    min-height: 60vh;
    margin: 10vh 0;
}

.orange {
    color: rgb(255, 102, 0);
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#team .col h2, 
#team .col p {
    margin-bottom: 2rem;
}

.narrow {
    max-width: 60%;
}

#bear-member-image {
    background-image: url("../images/bear-member-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 20rem;
}